body {
	border-radius: 10px;
}

#mapHeader {
	background-color: #B8B8B8 !important;
	width: 100%;
	height: 44px;
	position: fixed;
	z-index: 1000;
	-webkit-transition: all 0.15s;
	transition: all 0.15s;
}

#container_map {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.drawer {
	left: 240px;
}

#bottom_menu_map {
	width: 100%;
	height: 83px;
	background-color: #3e4448;
	position: absolute;
	bottom: 0;
	z-index: 1000;
	border-radius: 0 0 10px 10px;
}

#drawerBtn {
	width: 50px;
	height: 50px;
	z-index: 1000;
	background-color: #fff;
	position: absolute;
	border-radius: 25px;
	top: 70px;
	left: 15px;
	background-image: url("../img/taro.png");
	background-size: 50px;
}

#posBtn {
	width: 265px;
	display: block;
	margin: 7px auto 0;
}

#mainBtn {
	width: 60px;
	position: absolute;
	bottom:10px;
	left: 129px;
}

#area_name {
	display: none;
}

 
#topMenuBar {
	width: 320px;
}



#container_back {
	z-index: -1;
	/*background-color: #34383a;*/
	width: 100%;
	height: 100%;
	min-height: 500px;
	position: absolute;
}

#container_back hr {
	width: 75%;
	color: white;
	border-color: rgb(44, 44, 44);
}

.myBox {
	width: 77%;
	height: 250px;
	background-color: #34383a;
	padding-top: 43px;
}

.myBox .myFace {
	display: block;
	margin: 0 auto;
	padding-top: 20px;
}

.myBox .myName {
	text-align: center;
	padding-top: 5px;
	color: white;
	font-size: 20px;
	font-weight: 600;
}

.myBox .lastTime {
	text-align: center;
	padding-top: 10px;
	color: white;
	font-size: 12px;
}

.myBox .lastTimeDisp {
	text-align: center;
	color: white;
	font-size: 24px;
}


.famBox {
	width: 77%;
	height: 65px;
	background-color: #34383a;
}


.famBox .famFace {
	width: 50px;
	padding: 7px 15px 0;
	display: inline-block;
}

.famBox .famName {
	display: inline-block;
	color: white;
	width: 50px;
	vertical-align: top;
	padding-top: 22px;
}

.famBox .famTime {
	width: 80px;
	color: white;
	display: inline-block;
	vertical-align: top;
	margin-top: 22px;

}

.famBox .famTime .last {
	display: inline-block;
	width: 30px;
	padding-top: 22px;
	color: white;
	font-size: 4px;
	padding-top: 5px;
	vertical-align: top;
	margin-right: -7px;
}






