body {
	border-radius: 10px;
}

#mapHeader {
	background-color: #B8B8B8 !important;
	width: 100%;
	height: 44px;
	position: fixed;
	z-index: 1000;
	-webkit-transition: all 0.15s;
	transition: all 0.15s;
}

#container_map {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transition: all 0.5s;
    transition: all 0.5s;
    /*display: none;*/
    background-color: #3e4448;
    overflow: hidden;
}

.drawer {
	left: 240px;
}

#bottom_menu_map {
	width: 100%;
	height: 83px;
	background-color: #3e4448;
	position: absolute;
	bottom: 0;
	z-index: 1000;
	border-radius: 0 0 10px 10px;
	overflow: hidden;
}

#drawerBtn {
	width: 70px;
	height: 50px;
	z-index: 1000;
	background-color: #fff;
	position: absolute;
	border-radius: 0 25px 25px 0;
	top: 70px;
	background-image: url("../img/a-04.png");
	background-size: 45px;
}

#drawerImg {
	width: 50px;
	z-index: 1000;
	position: absolute;
	top: 0px;
	left: 0;
	left: 20px;
}

#posBtn {
	width: 175px;
	display: block;
	margin: 7px auto 0;
}

#mainBtn {
	width: 60px;
	position: absolute;
	bottom:10px;
	left: 80px;
}

#area_name {
	display: none;
}

 
#topMenuBar {
	width: 320px;
	position: absolute;
	top: 0;
}



#container_back {
	z-index: -1;
	/*background-color: #34383a;*/
	width: 100%;
	height: 100%;
	min-height: 500px;
	position: absolute;
	display: none;
}

#container_back hr {
	width: 75%;
	color: white;
	border-color: rgb(44, 44, 44);
}

.myBox {
	width: 77%;
	height: 250px;
	background-color: #34383a;
	padding-top: 28px;
}

.myBox .myFace {
	display: block;
	margin: 0 auto;
	padding-top: 15px;
}

.myBox .myName {
	text-align: center;
	padding-top: 5px;
	color: white;
	font-size: 20px;
	font-weight: 600;
}

.myBox .lastTime {
	text-align: center;
	padding-top: 5px;
	color: white;
	font-size: 12px;
}

.myBox .lastTimeDisp {
	text-align: center;
	color: white;
	font-size: 24px;
}


.famBox {
	width: 77%;
	height: 65px;
	background-color: #34383a;
	position: relative;
}


.famBox .famFace {
	width: 50px;
	padding: 7px 15px 0;
	display: inline-block;
}

.famBox .famName {
	display: inline-block;
	color: white;
	width: 50px;
	vertical-align: top;
	padding-top: 22px;
}

.famBox .famTime {
	width: 80px;
	color: white;
	display: inline-block;
	vertical-align: top;
	margin-top: 22px;

}

.famBox .famTime .last {
	display: inline-block;
	width: 30px;
	padding-top: 22px;
	color: white;
	font-size: 4px;
	padding-top: 5px;
	vertical-align: top;
	margin-right: -7px;
}

.famBox .famWrap {
	width: 100%;
	height: 65px;
	position: absolute;
}

.famBox .famCover {
	width: 100%;
	height: 65px;
	position: absolute;
}



/*メッセージエリア*/

#container_message {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transition: all 0.5s;
    transition: all 0.5s;
    background-color: #34383a;
    padding-top: 50px;
    display: none;
}


#container_message .messageBox {
	width: 95%;
	height: auto;
	min-height: 75px;
	max-width: 320px;
	margin: 0px auto;
	/* background-color: red; */
	padding-top: 20px;
}

#container_message .messageBox .host_face {
	width: 47px;
	height: 100%;
	float: left;
}

#container_message .messageBox .host_face img{
	width: 40px;
}

#container_message .messageBox .host_name {
	width: 15%;
	height: 20px;
	margin-left: 5px;
	/* background-color: green; */
	position: relative;
	color: #8e8e8e;
	font-size: 6px;

}

#container_message .messageBox .my_face {
	width: 47px;
	height: 100%;
	float: right;
}

#container_message .messageBox .my_face img{
	width: 40px;
}

#container_message .messageBox .my_name {
	width: 15%;
	height: 20px;
	margin-left: 5px;
	/* background-color: green; */
	position: relative;
	color: #8e8e8e;
	font-size: 6px;

}

#container_message .messageBox .textBox {
	width: 195px;
	height: auto;
	float: left;
	/*background-color: gray;*/
}

#container_message .messageBox .myTextBox {
	width: 195px;
	height: auto;
	float: right;
	margin: 0 40px 0 0;
	color: white;
}

#container_message .messageBox .textBox p {
	font-size: 14px;
	padding: 5px 10px;
	color: gray;
	font-weight: 200;
}

#container_message .messageBox .myTextBox p {
	font-size: 14px;
	padding: 5px 10px;
	color: gray;
	font-weight: 200;
}


#container_message .messageBox .answer {
	width: 195px;
	height: auto;
	min-height: 32px;
	float: left;
	background-color: white;
	/* background-image: url("../img/answerHead.png"); */
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	z-index: 0;
	left: 15px;
	border-radius: 10px;
}

#container_message .messageBox .myTextBox .textBoxOrange {
	background-color: orange !important;
}

#container_message .messageBox .myTextBox .textBoxOrange p {
	color: white !important;
}

#message_1 {
	display: none;
}

#message_2 {
	display: none;
}

#container_message #inputTextBox {
	width: 100%;
	height: 40px;
	background-color: #34383a;
	position: fixed;
	bottom: 0;
}


#container_message #inputTextBox #inputText {
	width: 70%;
	display: inline-block;
	margin: 0 0 0 15px;
}

#topBar {
	width: 100%;
	height: 42px;
	position: relative;
}
 

#topBar .navBtn {
	width: 32%;
	height: 40px;
	display: inline-block;
	-webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#coverBox {
	position: absolute;
	top: 0;
	width: 100%;
	height: 42px;
}

#topBar .navBtnCover {
	width: 32%;
	height: 40px;
	/*background-color: orange;*/
	display: inline-block;
}

.orange {
	background-color: orange;
}


#sendMessage {
	background-color: #fff;
	float: right;
	margin: 0 20px 0;
	font-size: 8px;
	width: 35px;
	text-align: center;
	color: gray;
	border-radius: 3px;
}

#sendMessage p{
	padding: 5px; 
}

#messageBox {
	width: 80%;
}


#container_setting {
	z-index: -10;
	display: none;
}

