#container_contact__inputArea{
	width: 100%;
	height: 200px;
	/*background-color: gray;*/
	position: absolute;
	top: 100px;
   
}




.form__box{
	margin: 14px auto 0;

}

.form__box p {
	text-align: center;
	color: #32363a;
    font-size: 10px;
}

.form__box--entry_input{
    width: 240px;
	height: 35px;
	margin: 0 auto;
	padding-top: 7px;
	padding-bottom: 3px;
	padding-left: 20px;
	display: block;
	font-size: 16px;
	color: black;
	border-radius: 20px;
	border: 1px solid white;
	border-color: #036eb8;
	-webkit-appearance: none;
	line-height: 14px;
	z-index: 0;
}

#container_contract__box{
	/*background-color: red;*/
	position: relative;
	top: 250px;

}


#container_contract__box__mail{
	width: 240px;
	text-align: center;
	font-size: 24px;
	color: #32363a;
	font-family: sans-serif;
	margin: 0 auto 15px;
}

#container_contract__box p {
	text-align: center;
	font-size: 16px;
	color: #32363a;
}